/*features-title*/


.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-list-item {
  /* width: calc((100% - 72px) / 4); */
}



.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  justify-content: flex-start;
}

/*team*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-image {
}

.team-list-item-title-text {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-list-image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-image-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}

.team-list-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.team-list-socials-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-socials-icon:hover,
.team-list-socials-icon:focus {
  background-color: #404bbf;
}

.team-list-socials-icon-svg {
  fill: #f4f4fd;
}

/*portfolio*/

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-image {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-list-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list-overlay {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-overlay,
.portfolio-list-item:focus .portfolio-list-overlay {
  transform: translateY(0);
}

.portfolio-list-subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio--list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*footer*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.container-footer {
  /* margin-right: 120px; */
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  max-height: 72px;
  margin-bottom: 16px;
}

.footer-title-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.container-footer-socials {
  justify-content: space-between;
}

.footer-list-socials {
  display: flex;
  gap: 16px;
  margin-top: 0;
}

.footer-list-socials-icon {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-socials-icon:hover,
.footer-list-socials-icon:focus {
  background-color: #31d0aa;
}

.container-footer-form-mail {
}

.footer-mail-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-mail-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.footer-mail-form-label {
}

.footer-mail-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-mail-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-form-icon-wrap {
}

.footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-frame-icon {
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-window-close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-window-close-btn:hover .modal-window-close-svg,
.modal-window-close-btn:focus .modal-window-close-svg {
  fill: #ffffff;
}

.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-window-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #484a67;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
  border-color: #4d5ae5;
}

.modal-window-input:focus + .modal-window-icon {
  fill: #4d5ae5;
}

.modal-window-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-window-field-comment {
  margin-bottom: 16px;
}

.modal-window-field-wrap {
  position: relative;
}

.modal-window-field {
  margin-bottom: 8px;
}

.modal-window-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.modal-window-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-textarea:focus {
  border-color: #4d5ae5;
}

.modal-window-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-window-policy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.modal-window-policy-fragment {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  margin-right: 8px;
}

.privacy-policy {
  color: #4d5ae5;
}

.modal-window-checkbox {
  margin-bottom: 24px;
}

.modal-window-policy:checked
  + .modal-window-policy-label
  .modal-window-policy-fragment {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .features {
    padding: 96px 0;
  }
  .features-title {
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
   text-align: start;
  
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .container-header {
    display: flex;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-menu-logo {
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    justify-content: space-between;
    margin-right: 76px;
  }

  .logo-accent {
    color: #2e2f42;
  }

  .header-menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
   margin-top: 24px;
  margin-bottom: 24px;
  }

  .header-menu-list {
  }

  .header-menu-item {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-item.current {
    position: relative;
  }

  .header-menu-item.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;

    width: 100%;
    height: 4px;

    background-color: #404bbf;
  }

  .header-menu-item:hover,
  .header-menu-item:focus,
  .header-menu-item.current {
    color: #404bbf;
  }

  .header-contacts {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
  }

  .header-contacts-menu {
    display: flex;
    gap: 40px;
  }

  .header-contacts-list {
  }
  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: #404bbf;
  }

  /* Hero */

  .hero {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 45px;
    justify-content: center;
  }

  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }

  /*features-title*/

  .features {
    padding: 120px 0;
  }
  .features-title {
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .features-list-background {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .features-list-icon {
    display: block;
  }
  
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .features-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /*team*/

  .team {
    background-color: #f4f4fd;
    padding: 120px 0;
  }

  .team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .team-list-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

 
  .team-list-item-title-text {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .team-list-image-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .team-list-image-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }

  .team-list-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 24px;
  }

  .team-list-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .team-list-socials-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-list-socials-icon:hover,
  .team-list-socials-icon:focus {
    background-color: #404bbf;
  }

  .team-list-socials-icon-svg {
    fill: #f4f4fd;
  }

  /*portfolio*/

  .portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-image {
    border-bottom: 1px solid #e7e9fc;
  }

  .portfolio-list-overlay-wrap {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-overlay {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .portfolio-list-overlay,
  .portfolio-list-item:focus .portfolio-list-overlay {
    transform: translateY(0);
  }

  .portfolio-list-subtitle-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio--list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /*footer*/

  .footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .footer-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .container-footer {
    /* margin-right: 120px; */
  }

  .footer-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-logo-accent {
    color: #f4f4fd;
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    max-height: 72px;
    margin-bottom: 16px;
  }

  .footer-title-socials {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
  }

  .container-footer-socials {
    justify-content: space-between;
  }

  .footer-list-socials {
    display: flex;
    gap: 16px;
    margin-top: 0;
  }

  .footer-list-socials-icon {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-socials-icon:hover,
  .footer-list-socials-icon:focus {
    background-color: #31d0aa;
  }

  .container-footer-form-mail {
  }

  .footer-mail-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-mail-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .footer-mail-form-label {
  }

  .footer-mail-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .footer-mail-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
  }

  .footer-form-icon-wrap {
  }

  .footer-form-btn {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-form-frame-icon {
    fill: #fff;
    margin-left: 16px;
  }

  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal-window {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window-close-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .modal-window-close-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window-close-btn:hover,
  .modal-window-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-window-close-btn:hover .modal-window-close-svg,
  .modal-window-close-btn:focus .modal-window-close-svg {
    fill: #ffffff;
  }

  .modal-window-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .modal-window-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #484a67;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window-input:focus {
    border-color: #4d5ae5;
  }

  .modal-window-input:focus + .modal-window-icon {
    fill: #4d5ae5;
  }

  .modal-window-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  }

  .modal-window-field-comment {
    margin-bottom: 16px;
  }

  .modal-window-field-wrap {
    position: relative;
  }

  .modal-window-field {
    margin-bottom: 8px;
  }

  .modal-window-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn {
    display: block;
    margin: 0 auto;
  }

  .modal-window-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window-textarea:focus {
    border-color: #4d5ae5;
  }

  .modal-window-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .modal-window-policy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    a {
      line-height: 1.33;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  .modal-window-policy-fragment {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    margin-right: 8px;
  }

  .privacy-policy {
    color: #4d5ae5;
  }

  .modal-window-checkbox {
    margin-bottom: 24px;
  }

  .modal-window-policy:checked
    + .modal-window-policy-label
    .modal-window-policy-fragment {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
}
