body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: none;
}

.header-contacts {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-accent {
  color: #2e2f42;
}

.header-modal-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
}

.header-modal-btn-svg {
  fill: #2f2f37;
  display: block;
}

@media screen and (min-width: 768px) {
  .header-modal-btn {
    display: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-menu-item {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-item.current {
    position: relative;
  }

  .header-menu-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .header-menu-item:hover,
  .header-menu-item:focus,
  .header-menu-item.current {
    color: #404bbf;
  }

  .header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .header-contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-contacts-menu {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* header-modal */

.header-modal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-modal {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 9;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-modal-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.header-modal-close-svg {
  fill: #2e2f42;
}

.header-modal-navigation {
  margin-bottom: auto;
}

.header-modal-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-menu-item.current {
  color: #404bbf;
}

.header-modal-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-modal-contacts-link.current {
  color: #404bbf;
}

.header-modal-menu-list:not(:last-child) {
  margin-bottom: 40px;
}

.header-modal-contacts-list {
  margin-bottom: 24px;
}

.header-modal-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 24px;
}

.header-modal-socials-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header-modal-socials-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header-modal-socials-icon-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .header-modal {
    display: none;
  }
}

/* Hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-mobile1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-mobile2x.jpg");
  }
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-height: 160px;
  justify-content: center;
  align-items: center;
  margin: 72px 37px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-tablet1x.jpg");
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-height: 120px;
    max-width: 496px;
    margin-top: 112px;
    margin-bottom: 36px;
  }

  .hero-btn {
    margin-bottom: 112px;
  }
}
@media screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-norm1x.jpg");
  }

  .hero-title {
    margin-top: 188px;
    margin-bottom: 48px;
  }
  .hero-btn {
    margin-bottom: 188px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-norm2x.jpg");
  }
}

/*features*/

.features-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
}

.features-list-icon {
  display: none;
}

.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .features-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list-background {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .features-list-icon {
    display: block;
  }

  .features-list {
    gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 72px) / 4);
  }
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-list-text {
    font-weight: 400;
  }
}
